$toolbar-height: 4.125rem;
$radius: .25rem;
:host{
  display: block;
}

.toolbar, .toolbar-content, .toolbar-handle, .toolbar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar{
  // border-radius: $radius;
  border-radius: $radius $toolbar-height $toolbar-height $radius;
  &.expanded {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  &:not(.expanded){
    .toolbar-handle{
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
  }
}

.toolbar-content{
  padding: .5rem 0;
  max-height: $toolbar-height;
  overflow: hidden;
}

.toolbar-handle{
  height: $toolbar-height;
  width: $toolbar-height;
  border-top-right-radius: $toolbar-height;
  border-bottom-right-radius: $toolbar-height;
  background-color: #cccccc;
  justify-content: center;
}

.tool-group{
  display: flex;
  flex-direction: row;
  padding-right: 3rem;
  align-items: center;
}
