:host{
  display: block;
}

$cell-width: 100% / 31;
$hour-label-size: .5rem;
$border-width: 2px;
$background-color: white;
$border-color: $background-color;
$border: $border-width solid $border-color;

.calendar{
  width: 100%;
  user-select: none;
  // table-layout: fixed;
  margin-bottom: $hour-label-size ;
  tbody td:not(.hour-label){
    height: $cell-width;
    font-weight: 400;
    font-size: .75rem;
    background: #f0f0f0;
  }
  td, th{
    border: $border;
    max-width: $cell-width;
    text-align: center;
    vertical-align: center;
    padding: 0;
    &.hour-label{
      font-weight: 200;
      background-color: $background-color;
      vertical-align: bottom;
      span {
        position: relative;
        top: calc(#{$hour-label-size} + #{$border-width});
        overflow: visible;
        font-size: $hour-label-size;
        line-height: $hour-label-size;
      }
    }
  }
  tfoot tr td{
    padding-top: 1rem;
  }
}
.large-label{
  font-weight: 400;
}
.small-label{
  font-weight: 200;
  font-size: .75rem;
}

.weekend{
  background: #959595 !important;
  color: $background-color;
}
