$category-height: 1.5rem;

:host{
  display: block;
}

.category{
  user-select: none;
  border-radius: $category-height;
  height: $category-height;
  padding: .125rem .5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:first-child {
    margin-left: 0;
  }
}
