$anchor-size: 2rem;
$line-width: 2px;
$line-length: 1rem;
$outer-length: 2 * $line-length;
:host{
  display: block;
}

.wheel-container{
  display: flex;
  flex-direction: column;
  min-width: 9rem;
  touch-action: none;
  align-items: center;
  justify-content: center;
}

.options-container{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.option{
  margin: .25rem;
  z-index: 2;
  position: relative;
  &:nth-child(2){
    margin-bottom: 1rem;
  }
}

.anchor-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.anchor{
  display: flex;
  width: $anchor-size;
  height: $anchor-size;
  background-color: gray;
  border-radius: $anchor-size;
}
