$dialog-padding: 1.5rem;
// this needs to be updated to the dialog height that is provided when the dialog is crated
$btn-height: 2.25rem;
$dialog-height: 80vh;
$dialog-inner-height: calc(#{$dialog-height} - #{ 2 * $dialog-padding});
$top-padding: .5rem;
$input-height: calc(100% - #{$btn-height});
$border-radius: 5px;

:host{
  display: block;
}
.dialog-container{
  height: $dialog-inner-height;
  position: relative;
}

.fill-height{
  height: $dialog-inner-height;
}

.note-container{
  textarea, label{
    width: 100%;
    height: 100%;
  }
  label{
    margin: 0;
    height: $input-height;
  }
  textarea{
    border-radius: $border-radius;
    &:focus{
      outline: none;
    }
  }
}

.close-container{
  position: relative;
  height: $top-padding;
}
.close-btn{
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
}
