:host {
  --mat-icon-color: white;
  --mat-icon-button-state-layer-color: white;
  --mdc-icon-button-state-layer-size: 32px;

  display: flex;
  gap: 1rem;
  padding: .25rem;
  border-radius: 2rem;
  color: white;
  justify-content: space-between;

  &.landscape {
    flex-direction: column;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: inherit;
  gap: 1rem;
}


.active {
  background-color: rgb(white , .4);
}
