<p>Calendar</p>
<div class="table-responsive">
  <table class="calendar">
    <thead>
    <tr>
      <td *ngFor="let label of header" [ngClass]="{'weekend': label.weekend}">
        <div class="large-label">
          {{label.weekDay}}
        </div>
        <div class="small-label">
          {{label.dayOfMonth}}
        </div>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of body">
      <td *ngFor="let key of keys(row)" [ngClass]="{'weekend': row[key].weekend}">{{row[key].value}}</td>
    </tr>
    </tbody>
  </table>
</div>
