<div class="dialog-container">
  <button tabindex="-1" class="close-btn" mat-icon-button [mat-dialog-close]>
    <mat-icon>close</mat-icon>
  </button>
  <div class="fill-height note-container p-2">
    <div class="annotations-container fill-height no-touch">
      <div *ngFor="let day of days" class="annotation-day">
        <div>
          <div>
            <div class="day-title">{{format(day.value, 'dddd')}}</div>
            <div class="day-subtitle">{{format(day.value, 'MMM do')}}</div>
          </div>
          <div class="timespan" *ngFor="let hour of day.annotations">
            <div class="timespan-label">
              <h3>{{formatHour(hour.value)}}</h3>
            </div>
            <div class="timespan-content">
              <div class="categories" *ngIf="hour.annotation.categories.length">
                <div
                  *ngFor="let category of hour.annotation.categories"
                  [style.color]="readable(category.color)"
                  [style.background-color]="category.color"
                  class="category">
                  {{category.name}}</div>
              </div>
              <div class="notes">
                <div
                  class="note"
                  *ngFor="let note of hour.annotation.notes">
                  <div class="note-created">{{note.crated | date: 'MM/dd/yy, HH:mm'}}</div>
                  <div class="note-body">{{note.body}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
