<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>chat</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div class="import-form-container" (click)="$event.stopPropagation()">
    <form class="import-form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-wrapper">
        <label>
          <mat-icon>publish</mat-icon>
          <input formControlName="json" type="text" placeholder="Import Annotations">
        </label>
      </div>
      <div class="btn-row">
        <div class="d-flex justify-content-between" *ngIf="form.valid">
          <button matRipple type="button" (click)="reset()">clear</button>
          <button matRipple type="submit">save</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <button
      mat-menu-item
      [cdkCopyToClipboard]="getAnnotations()"
      [disabled]="hasAnnotations()">
      <mat-icon svgIcon="content-copy"></mat-icon>
      <span>Copy Annotations</span>
    </button>
  </div>
</mat-menu>
