<!--suppress AngularUndefinedBinding -->
<div class="toolbar-container py-2" (swiperight)="open()" (swipeleft)="close()">
  <div class="toolbar" [ngClass]="{'collapsed': !isOpen}">
    <div class="toolbar-content"  [@collapseHorizontal]="!isOpen">
      <div class="pl-3 pr-5 d-flex flex-row align-items-center">
        <app-color-patch
          [ngClass]="{'mr-2': !last}"
          [active]="colorOption === color"
          *ngFor="let colorOption of colors; let last = last" [color]="colorOption"
          (click)="changeColor(colorOption)"></app-color-patch>
      </div>
      <div class="pr-5 d-flex flex-row align-items-center">
        <mat-button-toggle-group [(ngModel)]="width" (change)="changeWidth()">
          <mat-button-toggle [value]="widths[0]">
            <mat-icon>edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="widths[1]">
            <mat-icon>brush</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="toolbar-handle user-select-none pointer" (click)="toggle()">
      <mat-icon>gesture</mat-icon>
    </div>
  </div>
</div>

