<!--suppress AngularUndefinedBinding -->
<div class="calendar" #calendar>
  <div class="hour-labels">
    <div class="hour-label-group" *ngFor="let label of labels; let bottom = last">
      <div class="hour-label">
      <span
        class="selectable"
        [attr.data-date]="label"
        [attr.data-type]="'hours'">{{label}}</span>
        <span
          *ngIf="bottom"
          class="selectable"
          [attr.data-date]="label"
          [attr.data-type]="'hours'">00:00</span>
      </div>
    </div>
    <div class="total-label">Total</div>
  </div>
  <div class="calendar-content" #scroll>
    <div class="month" *ngFor="let month of dataSet.months; odd as highlight " [ngClass]="{'highlighted': highlight}">
      <div class="month-label">
        <span
          class="selectable"
          [attr.data-date]="month.date.format('DD-MM-YYYY')"
          [attr.data-type]="'month'">
          {{month.date.format('MMMM')}}
        </span>
      </div>
      <div class="days">
        <div class="day" *ngFor="let day of month.values" [ngClass]="{'weekend': day.isWeekend}">
          <div
            class="day-label selectable"
            [ngClass]="{'weekend': day.isWeekend}"
            [attr.data-date]="day.date.format('DD-MM-YYYY')"
            [attr.data-type]="'day'">
            <div class="day-of-week">{{day.date.format('ddd')}}</div>
            <div class="day-of-month">{{day.date.format('DD')}}</div>
          </div>
          <div
            class="hour selectable"
            *ngFor="let hour of day.values"
            [attr.data-date]="day.date.format('DD-MM-YYYY') + ':' + hour.key"
            [attr.data-type]="'hour'"
            [style.color]="colorText(hour.values.length, hourScale)"
            [style.background-color]="colorBackground(hour.values.length, hourScale)">
            {{hour.values.length > 0 ? hour.values.length : ''}}
            <span
              *ngIf="hasAnnotationType(day, hour.key, 'categories')"
              class="category-marker"
              [ngClass]="{'full': !hour.values.length}"
              [style.background-color]="categoryColor(day, hour.key)"></span>
            <span
              *ngIf="hasAnnotationType(day, hour.key, 'notes')"
              class="note-marker"
              [style.background-color]="colorText(hour.values.length, hourScale)"></span>
          </div>
          <div
            class="total-value">
            <div
              class="selectable"
              [attr.data-date]="day.date.format('DD-MM-YYYY')"
              [attr.data-type]="'total'"
              [style.color]="colorText(day.total, totalScale)"
              [style.background-color]="colorBackground(day.total, totalScale)">
              {{day.total}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
