<!--suppress AngularUndefinedBinding -->
<div class="container">
  <div class="mt-5">
    <p class="user-select-none">{{viewChecked()}}</p>
    <!--<div class="d-flex justify-content-between align-items-center mb-3">
      <button mat-icon-button (tap)="calendar.previous()" (press)="calendar.scrollStart()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="text-center">
        <h1 class="user-select-none">Calendar {{value}}</h1>
        <p class="user-select-none">{{title}}</p>
      </div>
      <button mat-icon-button (tap)="calendar.next()" (press)="calendar.scrollEnd()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>-->
    <div (dblclick)="toggleMode()" class="mb-3 pb-3 user-select-none pointer">Mode: {{mode}}</div>
    <div class="position-relative">
      <app-draw-canvas *ngIf="mode === 'draw'" class="draw-canvas"></app-draw-canvas>
      <app-calendar
        #calendar
        [mode]="mode"
        [header]="header"
        [body]="body"
        [totals]="totals"
        (selected)="selected($event)"></app-calendar>
    </div>
  </div>
</div>
