<!--suppress AngularUndefinedBinding -->
<div class="container">
  <div class="mt-5">
    <!--<p class="user-select-none">{{viewChecked()}}</p>-->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button mat-icon-button (tap)="calendar.previous()" (press)="calendar.scrollStart()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="text-center">
        <h1 class="user-select-none">Calendar</h1>
        <p class="user-select-none">{{title}}</p>
      </div>
      <button mat-icon-button (tap)="calendar.next()" (press)="calendar.scrollEnd()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <app-canvas-toolbar
      class="mb-3"
      [isOpen]="isDrawMode()"
      (opened)="mode = 'draw'"
      (closed)="mode = 'select'"
      [(width)]="width"
      [(color)]="color"></app-canvas-toolbar>
    <div class="position-relative">
      <app-draw-canvas [color]="color" [width]="width" *ngIf="isDrawMode()" class="draw-canvas"></app-draw-canvas>
      <app-calendar
        #calendar
        [mode]="mode"
        [header]="header"
        [body]="body"
        [totals]="totals"
        (selected)="selected($event)"></app-calendar>
    </div>
  </div>
</div>
