$border-color: #cccccc;
$dialog-padding: 1.5rem;
$dialog-height: 80vh;
$dialog-inner-height: calc(#{$dialog-height} - #{ 2 * $dialog-padding});
$top-padding: .5rem;
$margin: .5rem;
$entries-height: calc(#{$dialog-inner-height} - #{$top-padding} - #{$margin * 2});
:host{
  display: block;
}

.group{
  margin-left: 1rem;
  padding: 1rem;
  border-left: 2px solid $border-color;
}

$dialog-padding: 1.5rem;
// this needs to be updated to the dialog hight that is provided when the dialog is crated

:host{
  display: block;
}
.dialog-container{
  height: $dialog-inner-height;
  position: relative;
}

.fill-height{
  height: $entries-height;
}

.content-container{
  overflow: auto;
  user-select: none;
  margin: $margin;
}


