$dialog-padding: 1.5rem;
$dialog-height: 80vh;
$dialog-inner-height: calc(#{$dialog-height} - #{ 2 * $dialog-padding});
$top-padding: .5rem;
$margin: .5rem;
$entries-height: calc(#{$dialog-inner-height} - #{$top-padding} - #{$margin * 2});
:host{
  display: block;
}

.dialog-container{
  height: $dialog-inner-height;
  position: relative;
}

.fill-height{
  height: $entries-height;
}

.content-container{
  overflow: auto;
  user-select: none;
  margin: $margin;
}


