<div class="dialog-container">
  <div class="close-container">
    <button tabindex="-1" class="close-btn" mat-icon-button [mat-dialog-close]>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col">
        <div class="entries-container fill-height">
         <div class="mx-2" *ngFor="let day of days">
           <h2 *ngIf="hasObservations(data.get(day))">{{day}}</h2>
           <div class="ml-5 my-3" *ngFor="let hour of data.get(day); let hourIndex = index">
             <ng-container *ngIf="hour.observations.length">
               <h3>{{hour.hour + ':00'}}</h3>
               <div class="group">
                 <div class="entry" *ngFor="let observation of hour.observations; let observationIndex = index">
                   <div class="d-flex align-items-center">
                     <strong class="mr-2">{{observation.date.format('HH:mm:SSSS')}}</strong>
                     <span>{{observation.timeStamp}}</span>
                     <button class="delete-btn" mat-icon-button (click)="delete(day, hourIndex, observationIndex)">
                       <mat-icon>delete</mat-icon>
                     </button>
                   </div>
                 </div>
               </div>
             </ng-container>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
