
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$insights-primary: mat-palette($mat-indigo);
$insights-accent: mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$insights-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$insights-theme: mat-light-theme($insights-primary, $insights-accent, $insights-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($insights-theme);

/* You can add global styles to this file, and also import other style files */

$card-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import "~bootstrap/scss/bootstrap-reboot";
// @import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";

// Disable touch action on material backdrop to prevent scrolling on background content
.cdk-overlay-container, mat-dialog-container{
  touch-action: none;
}

button{
  &:focus{
    outline: none;
  }
}

a[mat-button]:hover{
  text-decoration: none;
  color: inherit;
}

.user-select-none{
  user-select: none;
}

.pointer{
  cursor: pointer;
}

.marked{
  // box-shadow: 0 0 0 1px rgba(0,0,0,0.75) inset;
  &:after{
    background-color: rgba(#4C81C1, 0.5) !important;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
  }
}

//d3 styles
svg {
  &.canvas{
    background-color: transparent;
    cursor: crosshair;
    touch-action: none;
    border: 1px solid #cccccc;
    border-radius: .25rem;
  }
  &.timeline{
    // background-color: #cccccc;
    touch-action: none;
  }
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.bar{
  fill: rgb(180, 188, 204);
  &.weekend{
    fill: rgb(112, 119, 135);
  }
}

.axis text{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

$grid-color: rgba(#cccccc, .7);

.grid{
  user-select: none;
  line {
    pointer-events: none;
    stroke: $grid-color;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .tick{
    &:first-of-type line{
      stroke: black;
    }
  }
}

.grid path {
  stroke-width: 0;
}

.y.axis{
  .domain{
    stroke: transparent;
  }
  .tick line{
    stroke: transparent;
  }
}

.x.axis{
  .domain{
    stroke: transparent;
  }
}

.brush{
  .handle {
    pointer-events: none;
  }
  .selection{
    fill: #cccccc;
  }
  .overlay{
    // pointer-events: none;
    cursor: default;
  }

  .invisible-backdrop{
    background: transparent;
  }
}

//zoomed calendar styling shared by view and filter dialog
$zoomed-border: 1px solid #dee2e6;
$hour-label-size: .75rem;
$hour-label-height: 20px;
$hour-label-width: 40px;
$hour-cell-width: 60px;
.table-container{
  width: 100%;
}
.zoomed-calendar{
  thead th {
    border-bottom: $zoomed-border;
  }
  .day-of-the-week{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: normal;
  }

  .day-of-the-month{
    font-size: 1rem;
    font-weight: normal;
  }
  .hour-label-header{
    // padding: .5rem 0;
    // vertical-align: bottom;
    padding: 0;
    width: $hour-cell-width;
  }

  .day-label-header {
    padding: .125rem 1rem;
    position: relative;
    &:before{
      content: '';
      width: 1px;
      background-color: white;
      position: absolute;
      top:0;
      left: -1px;
      height: 2rem
    }
  }

  .hour-label-padding{
    display: inline-block;
    width: $hour-cell-width;
  }

  .hour-label{
    vertical-align: bottom;
    position: relative;
    padding: 0;
    span{
      position: absolute;
      top: calc(-#{$hour-label-height} / 2);
      left: 0;
      background-color: white;
      font-size: $hour-label-size;
      padding: 0 .25rem;
      display: block;
      text-align: center;
      width: $hour-label-width;
    }
  }
  tr:first-child{
    th {
      border-top: none;
    }
  }
  th{
    border-left: $zoomed-border;
    border-right: $zoomed-border;
    text-align: center;
    &:first-child {
      border-left: none;
      text-align: left;
    }
    &:last-child{
      border-right: none;
    }
  }
  td{
    border-left: $zoomed-border;
    border-right: $zoomed-border;
    &:first-child {
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
  tr:last-child{
    td{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

//import form
$text-color: rgba(0,0,0,.86);
$hover-color: rgba(0, 0, 0, 0.04);
.import-form-container{
  color: rgba(0,0,0,.54);
  user-select: none;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 48px;
  &:hover{
    background-color: $hover-color;
  }
}

.import-form{
  label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    input{
      width: 100%;
      border: none;
      background-color: inherit;
      padding: 0;
      margin: 0;
      &:focus{
        outline: none;
      }
      &::placeholder{
        color: $text-color;
      }
    }
    mat-icon{
      margin-right: 1rem;
    }
  }
}

.form-btn{
  height: 1.5rem!important;
  line-height: 1.5rem !important;

}

