<!--suppress AngularUndefinedBinding -->
<div class="table-responsive" style="overflow: hidden" #scroll> <!--(scroll)="log($event)" on parent container and emit if other components should know the current scroll position-->
  <table class="calendar" style="touch-action: pinch-zoom">
    <thead>
    <tr>
      <th class="hour-label">
        <span>00:00</span>
      </th>
      <th *ngFor="let label of header" [ngClass]="{'weekend': label.weekend}">
        <div class="large-label">
          {{label.weekDay}}
        </div>
        <div class="small-label">
          {{label.dayOfMonth}}
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of body; let i = index;">
      <td class="hour-label">
        <span>{{labels[i]}}</span>
      </td>
      <td
        *ngFor="let day of row"
        [ngClass]="{'weekend': day.weekend}">{{day.value > 0 ? day.value : ''}}</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Day</td>
        <td *ngFor="let total of totals">{{total}}</td>
      </tr>
    </tfoot>
  </table>
</div>
