<!--suppress AngularUndefinedBinding -->
<div class="calendar">
  <div class="hour-labels">
    <div class="hour-label" *ngFor="let label of labels">
      <span>{{label}}</span>
    </div>
  </div>
  <div class="calendar-content" #scroll>
    <div class="month" *ngFor="let month of dataSet.months">
      <div class="month-label">
        {{month.date.format('MMMM')}}
      </div>
      <div class="days">
        <div class="day" *ngFor="let day of month.values">
          <div class="day-label">
            <div class="day-of-week">{{day.date.format('ddd')}}</div>
            <div class="day-of-month">{{day.date.format('DD')}}</div>
          </div>
          <div class="hour" *ngFor="let hour of day.values">
            {{hour.values.length > 0 ? hour.values.length : ''}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
