:host{
  display: block;
}

$hour-label-size: .5rem;
$border-width: 2px;
$background-color: white;
$border-color: $background-color;
$border: $border-width solid $border-color;
$month-label-height: 1.5rem;
$cell-width: 2rem;
$cell-height: 1.25rem;

.calendar{
  display: flex;
  flex-direction: row;
}
.hour-labels{
  padding-top: ($month-label-height + 2 * $cell-height) - .125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 2.5rem;
  .hour-label{
    height: $cell-height;
    display: flex;
    align-items: flex-start;
    span{
      font-size: .5rem;
      line-height: .5rem;
    }
  }
}

.calendar-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}

.month{
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding-left: 1px;
  // margin: 0 1rem;
}
.month-label{
  height: $month-label-height;
  // border-bottom:  1px solid black;
  display: flex;
  align-items: center;
  padding-left: .5rem;
}
.days{
  display: flex;
  flex-direction: row;
}

.day{
  display: flex;
  flex-direction: column;
  .day-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .day-of-week{
      font-weight: bold;
    }
  }
}

.hour{
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cell-width;
  height: $cell-height;
  background: #cccccc;
  border: 2px solid white;
  border-radius: .125rem

}
.large-label{
  font-weight: 400;
}
.small-label{
  font-weight: 200;
  font-size: .75rem;
}

.weekend{
  background: #959595 !important;
  color: $background-color;
}
