$text-color: rgba(0, 0, 0, 0.87);
$background-color: rgba(0, 0, 0, 0.04);

:host{
  display: block;
}

.category-form-container{
  width: 160px;
  input{
    width: 100%;
    border: none;
    background-color: $background-color;
    border-bottom: 1px solid $text-color;
    padding: .25rem;
    border-radius: 0;
    &:focus{
      // outline: none;
    }
  }
  label{
    margin: .25rem 0;
  }
}

.toggle-button{
  background-color: inherit;
  border:none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  padding: .5rem 1rem;
  &:hover{
    background-color: $background-color;
  }
}
