.swipe-container{
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
  user-select: none;
}
